#menu {
	width: 100%;
	height: 20px;
	float: left;
}
#registration_form {
	width: 240px;
	height: 240px;
	margin: 200px auto;
}
#login_form {
	width: 240px;
	height: 240px;
	margin: 200px auto;
}
#create-article-form {
	width: 240px;
	height: 240px;
	margin: 200px auto;
}
#article_text {
	width: 240px;
	height: 100px;
}
#show-articles {
	float: left;
}
